## Optimizing the original model
### Trying to achieve a target predictive accuracy higher than 75%

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
app_df = application_df.drop(columns = 'EIN',axis=1)
app_df = app_df.drop(columns = 'NAME',axis=1)

In [3]:
# Determine the number of unique values in each column.
app_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type = app_df["APPLICATION_TYPE"].value_counts()
app_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

#### First change to my original model is expanding my cutoff for application types
##### Keeping the value counts of each bin over 100

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace= app_type[app_type<100].index.tolist()
application_types_to_replace
# Replace in dataframe
for app in application_types_to_replace:
    app_df['APPLICATION_TYPE'] = app_df['APPLICATION_TYPE'].replace(app,"Other")

# # Check to make sure binning was successful
app_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification = app_df['CLASSIFICATION'].value_counts()

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification[classification>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

#### Second change from original is expanding the bins for classification 
##### Keeping the value counts of each bin over 100

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification[classification<100].index.to_list()
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    app_df['CLASSIFICATION'] = app_df['CLASSIFICATION'].replace(cls,"Other")
    
# # Check to make sure binning was successful
app_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

#### The outcome of my changes is that there is an increase of features to input in my model

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
app_df_encoded= pd.get_dummies(app_df)
app_df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

##### Keeping "IS_Successful" column as the target

In [10]:
# Split our preprocessed data into our features and target arrays
y = app_df_encoded["IS_SUCCESSFUL"]
X = app_df_encoded.drop("IS_SUCCESSFUL",axis=1)

# Split the preprocessed data into a training and testing dataset
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=1,stratify=y)

In [18]:
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

#### Third change from original model, Adding a third layer to the neural network and changing the amount of nodes in each layer.

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()
#Input layer 
nn.add(tf.keras.layers.InputLayer(input_shape = (X_train.shape[1],)))
# First hidden layer
nn.add(tf.keras.layers.Dense(units = 5,activation ="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = 4,activation ="relu"))

#Third Layer
nn.add(tf.keras.layers.Dense(units = 3,activation ="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 255

 dense_1 (Dense)             (None, 4)                 24

 dense_2 (Dense)             (None, 3)                 15

 dense_3 (Dense)             (None, 1)                 4

=================================================================
Total params: 298 (1.16 KB)
Trainable params: 298 (1.16 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy",optimizer="adam",metrics=["accuracy"])

#### Fourth change from original model, reducing the number of epochs to 75

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=75)

Epoch 1/75
804/804 [==============================] - 1s 937us/step - loss: 0.6141 - accuracy: 0.7016
Epoch 2/75
804/804 [==============================] - 1s 902us/step - loss: 0.5709 - accuracy: 0.7232
Epoch 3/75
804/804 [==============================] - 1s 921us/step - loss: 0.5644 - accuracy: 0.7247
Epoch 4/75
804/804 [==============================] - 1s 908us/step - loss: 0.5620 - accuracy: 0.7261
Epoch 5/75
804/804 [==============================] - 1s 883us/step - loss: 0.5606 - accuracy: 0.7266
Epoch 6/75
804/804 [==============================] - 1s 876us/step - loss: 0.5595 - accuracy: 0.7258
Epoch 7/75
804/804 [==============================] - 1s 938us/step - loss: 0.5586 - accuracy: 0.7273
Epoch 8/75
804/804 [==============================] - 1s 901us/step - loss: 0.5576 - accuracy: 0.7276
Epoch 9/75
804/804 [==============================] - 1s 862us/step - loss: 0.5575 - accuracy: 0.7269
Epoch 10/75
804/804 [==============================] - 1s 832us/step - loss: 0.5565 - accuracy: 0.7277
Epoch 11/75
804/804 [==============================] - 1s 943us/step - loss: 0.5556 - accuracy: 0.7275
Epoch 12/75
804/804 [==============================] - 1s 826us/step - loss: 0.5549 - accuracy: 0.7274
Epoch 13/75
804/804 [==============================] - 1s 892us/step - loss: 0.5544 - accuracy: 0.7291
Epoch 14/75
804/804 [==============================] - 1s 913us/step - loss: 0.5544 - accuracy: 0.7277
Epoch 15/75
804/804 [==============================] - 1s 950us/step - loss: 0.5538 - accuracy: 0.7290
Epoch 16/75
804/804 [==============================] - 1s 850us/step - loss: 0.5534 - accuracy: 0.7290
Epoch 17/75
804/804 [==============================] - 1s 852us/step - loss: 0.5533 - accuracy: 0.7293
Epoch 18/75
804/804 [==============================] - 1s 857us/step - loss: 0.5532 - accuracy: 0.7291
Epoch 19/75
804/804 [==============================] - 1s 918us/step - loss: 0.5522 - accuracy: 0.7293
Epoch 20/75
804/804 [==============================] - 1s 913us/step - loss: 0.5507 - accuracy: 0.7300
Epoch 21/75
804/804 [==============================] - 1s 882us/step - loss: 0.5502 - accuracy: 0.7303
Epoch 22/75
804/804 [==============================] - 1s 864us/step - loss: 0.5499 - accuracy: 0.7306
Epoch 23/75
804/804 [==============================] - 1s 899us/step - loss: 0.5500 - accuracy: 0.7322
Epoch 24/75
804/804 [==============================] - 1s 851us/step - loss: 0.5497 - accuracy: 0.7312
Epoch 25/75
804/804 [==============================] - 1s 846us/step - loss: 0.5498 - accuracy: 0.7310
Epoch 26/75
804/804 [==============================] - 1s 845us/step - loss: 0.5493 - accuracy: 0.7310
Epoch 27/75
804/804 [==============================] - 1s 972us/step - loss: 0.5495 - accuracy: 0.7310
Epoch 28/75
804/804 [==============================] - 1s 837us/step - loss: 0.5492 - accuracy: 0.7298
Epoch 29/75
804/804 [==============================] - 1s 877us/step - loss: 0.5491 - accuracy: 0.7315
Epoch 30/75
804/804 [==============================] - 1s 865us/step - loss: 0.5492 - accuracy: 0.7310
Epoch 31/75
804/804 [==============================] - 1s 849us/step - loss: 0.5493 - accuracy: 0.7326
Epoch 32/75
804/804 [==============================] - 1s 854us/step - loss: 0.5489 - accuracy: 0.7310
Epoch 33/75
804/804 [==============================] - 1s 862us/step - loss: 0.5490 - accuracy: 0.7313
Epoch 34/75
804/804 [==============================] - 1s 930us/step - loss: 0.5491 - accuracy: 0.7320
Epoch 35/75
804/804 [==============================] - 1s 918us/step - loss: 0.5490 - accuracy: 0.7318
Epoch 36/75
804/804 [==============================] - 1s 866us/step - loss: 0.5489 - accuracy: 0.7317
Epoch 37/75
804/804 [==============================] - 1s 827us/step - loss: 0.5486 - accuracy: 0.7318
Epoch 38/75
804/804 [==============================] - 1s 922us/step - loss: 0.5488 - accuracy: 0.7321
Epoch 39/75
804/804 [==============================] - 1s 850us/step - loss: 0.5485 - accuracy: 0.7313
Epoch 40/75
804/804 [==============================] - 1s 831us/step - loss: 0.5481 - accuracy: 0.7308
Epoch 41/75
804/804 [==============================] - 1s 921us/step - loss: 0.5481 - accuracy: 0.7304
Epoch 42/75
804/804 [==============================] - 1s 914us/step - loss: 0.5477 - accuracy: 0.7323
Epoch 43/75
804/804 [==============================] - 1s 858us/step - loss: 0.5475 - accuracy: 0.7323
Epoch 44/75
804/804 [==============================] - 1s 848us/step - loss: 0.5478 - accuracy: 0.7318
Epoch 45/75
804/804 [==============================] - 1s 912us/step - loss: 0.5478 - accuracy: 0.7313
Epoch 46/75
804/804 [==============================] - 1s 853us/step - loss: 0.5477 - accuracy: 0.7315
Epoch 47/75
804/804 [==============================] - 1s 951us/step - loss: 0.5477 - accuracy: 0.7331
Epoch 48/75
804/804 [==============================] - 1s 870us/step - loss: 0.5475 - accuracy: 0.7325
Epoch 49/75
804/804 [==============================] - 1s 906us/step - loss: 0.5478 - accuracy: 0.7313
Epoch 50/75
804/804 [==============================] - 1s 867us/step - loss: 0.5475 - accuracy: 0.7317
Epoch 51/75
804/804 [==============================] - 1s 854us/step - loss: 0.5476 - accuracy: 0.7316
Epoch 52/75
804/804 [==============================] - 1s 871us/step - loss: 0.5476 - accuracy: 0.7316
Epoch 53/75
804/804 [==============================] - 1s 853us/step - loss: 0.5473 - accuracy: 0.7323
Epoch 54/75
804/804 [==============================] - 1s 852us/step - loss: 0.5475 - accuracy: 0.7319
Epoch 55/75
804/804 [==============================] - 1s 875us/step - loss: 0.5474 - accuracy: 0.7320
Epoch 56/75
804/804 [==============================] - 1s 877us/step - loss: 0.5472 - accuracy: 0.7325
Epoch 57/75
804/804 [==============================] - 1s 853us/step - loss: 0.5473 - accuracy: 0.7326
Epoch 58/75
804/804 [==============================] - 1s 855us/step - loss: 0.5472 - accuracy: 0.7315
Epoch 59/75
804/804 [==============================] - 1s 870us/step - loss: 0.5473 - accuracy: 0.7319
Epoch 60/75
804/804 [==============================] - 1s 873us/step - loss: 0.5472 - accuracy: 0.7324
Epoch 61/75
804/804 [==============================] - 1s 823us/step - loss: 0.5471 - accuracy: 0.7326
Epoch 62/75
804/804 [==============================] - 1s 896us/step - loss: 0.5471 - accuracy: 0.7311
Epoch 63/75
804/804 [==============================] - 1s 845us/step - loss: 0.5471 - accuracy: 0.7324
Epoch 64/75
804/804 [==============================] - 1s 906us/step - loss: 0.5470 - accuracy: 0.7323
Epoch 65/75
804/804 [==============================] - 1s 849us/step - loss: 0.5472 - accuracy: 0.7318
Epoch 66/75
804/804 [==============================] - 1s 875us/step - loss: 0.5467 - accuracy: 0.7324
Epoch 67/75
804/804 [==============================] - 1s 886us/step - loss: 0.5471 - accuracy: 0.7326
Epoch 68/75
804/804 [==============================] - 1s 844us/step - loss: 0.5469 - accuracy: 0.7329
Epoch 69/75
804/804 [==============================] - 1s 917us/step - loss: 0.5471 - accuracy: 0.7325
Epoch 70/75
804/804 [==============================] - 1s 860us/step - loss: 0.5469 - accuracy: 0.7334
Epoch 71/75
804/804 [==============================] - 1s 920us/step - loss: 0.5470 - accuracy: 0.7331
Epoch 72/75
804/804 [==============================] - 1s 865us/step - loss: 0.5468 - accuracy: 0.7317
Epoch 73/75
804/804 [==============================] - 1s 850us/step - loss: 0.5470 - accuracy: 0.7327
Epoch 74/75
804/804 [==============================] - 1s 890us/step - loss: 0.5471 - accuracy: 0.7331
Epoch 75/75
804/804 [==============================] - 1s 866us/step - loss: 0.5466 - accuracy: 0.7322

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5537 - accuracy: 0.7271 - 263ms/epoch - 983us/step
Loss: 0.5537235140800476, Accuracy: 0.7271137237548828

#### We recieved slightly better results